*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common style */
.btn-primary{
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: #4E47FF;
    font-size: 16px;
    padding: 12px 32px;
    font-weight: bold;
    border-width: 0;
    border-radius: 10px;
    transition:0.5s ease-in-out;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #252432;
    transform: scale(1.05)
}
.raleway{
    font-family: "Raleway", sans-serif;
}

nav{
    background-image: url(./Assets/Hero-bg.png);
    width: 100%;
    height: 698px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    padding: 45px 0;
}

.logo-title{
    font-size: 34px;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.hero-container{
    text-align: center;
    margin: 158px;
}
.hero-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}

/* main content starts here */

.main-bg{
    background-color: #F6F9FF;
}

.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 140px;
    padding: 100px 0;
    
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
}
.action-desc{
    font-size: 24px;
    color: #8987A1;
    margin-bottom: 23px;

}
.wc-mini{
    border-radius: 50px;
}

.productive-section{
    margin: 0 100px 0 100px;
    padding: 50px 80px;
    background-color: #e6e8ff;
    place-items: center;
    border-radius: 24px;
    
    
}

.heading{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    padding-top: 30px;
    margin-bottom: 40px;
}

.users{
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    gap: 158px;
}

.users h2{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.users p{
    font-size: 20px;
    color: #8987A1;
    text-align: center;
}

.feedback-section{
    margin-top: 100px;
}

.title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.feed-cards{
    display: flex;
    justify-content: space-evenly;
}

.feedback-content h2{
    margin-top: 10px;
    margin-bottom: 7px;
}


.feebacks{
    background-color: white;
    border-radius: 14px;
    padding: 24px;
}

.comment{
    margin: 15px 0;
}

.avatar{
    display: flex;
    gap: 7px;
    margin-top: 13px;
}

.man{
    height: 41px;
    width: 40px;

}
.feedback-content h3{
    color: #8987A1;
}

.date{
    color: #8987A1;
    font-size: 12px;
}

.extra{
    text-align: center;
    margin-top: 100px;
    background-color: white;
    border-radius: 14px;
    margin-left: 150px;
    margin-right: 150px;
}

.title-2{
    font-size: 50px;
    font-weight: bold;
    padding: 70px 0 20px 0;
}

.extra p{
    color: #8987A1;
    padding: 15px 0;
}

.wc-big{
    border-radius: 48px;
    margin: 20px;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 110px;
    
    
}
.contact h1{
    font-size: 97px;
    font-weight: bold;
    margin-left: -250px;
}


label{
    display: block;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    
    

}
 
input{
    padding: 20px 32px;
    width: 430px;
    border-width: 0;
    border-radius: 10px;
    margin: 12px 0;
}
textarea{
    padding: 20px 30px;
    border-width: 0;
    border-radius: 10px;
    margin-top: 15px;
}
.contact-btn{
    display: block;
    margin-top: 15px;
    width: 443px;
    padding: 15px 0;

}

.footer-section{
    text-align: center;
}

footer h1{
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    font-size: 100px;
    font-weight: 800;
    padding-bottom: 25px;
}
.footer-section p{
    color: #8987A1;
    padding-bottom: 17px;
}

li{
    list-style: none;
}

 a{
    text-decoration: none;
    color: #8987A1;
}
ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    padding-bottom: 50px;
}